:root {
  --bg: #f4f3ee;
  --color: hsl(0, 0%, 0%);
  --primary-color: hsl(214, 100%, 60%);
  --secondary-color: hsl(214, 100%, 70%);
  --gost-but: hsl(0deg, 0%, 90%);
  --cta-but: #338cff;
  --border: hsl(0, 0%, 80%);
  --primary-text: "Open Sans", sans-serif;
  --secondary-text: "Roboto", sans-serif;
}
